body {
  width: 100vw;
  height: 100vh;
  margin-bottom: 0%;
}
.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #f0e68c;
}
.form-control {
  background-color: black;
}
.form-control::placeholder {
  color: white;
}
.img-thumbnail {
  transition: transform 0.3s ease;
}

.img-thumbnail:hover {
  transform: scale(1.1);
  border-color: #454035;
}
.parent {
  background-image: url("./assets/backimage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  width: 100vw;
  height: 120vh;
}

/* @media only screen and (min-width: 320px) {
  .parent {
    height: 120vh;
  }
}
@media only screen and (min-width: 375px) and (max-width: 576px) {
  .parent {
    height: 120vh;
  }
} */
/* Booking */
.booking {
  margin-bottom: 0%;
  background-color: black;
  padding-top: 20px;
}
/* @media only screen and (min-width: 375px) and (max-width: 576px) {
  .booking {
    height: 130vh;
  }
}
@media only screen and (min-width: 320px) {
  .booking {
    height: 130vh;
  }
} */

.Gallery {
  margin-bottom: 0%;
  background-color: black;
  padding-top: 20px;
}
.Map {
  margin-bottom: 0%;
  background-color: black;
  padding-top: 30px;
}
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 45.25%; /* 16:9 aspect ratio (divide height by width) */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;

  border: 0;
}
.Address {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}
.Footer {
  background-color: #373331;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* CSS to make the iframe responsive */
@media (max-width: 768px) {
  /* Adjust the iframe width and height for tablet view */
  iframe {
    width: 100%;
    height: 300px; /* Adjust height as needed */
  }
}

@media (max-width: 576px) {
  /* Adjust the iframe width and height for mobile view */
  iframe {
    width: 100%;
    /* Adjust height as needed */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Adjust the iframe width and height for medium-sized screens (1024px) */
  iframe {
    width: 800px; /* Example width for 1024px screen */
    height: 600px; /* Adjust height as needed */
  }
}
@media (max-width: 1024px) {
  /* Adjust the iframe width and height for larger screens (1440px) */
  iframe {
    width: 1024px; /* Example width for 1440px screen */
    height: 700px; /* Adjust height as needed */
  }
}
@media (max-width: 1440px) {
  /* Adjust the iframe width and height for larger screens (1440px) */
  iframe {
    width: 1440px; /* Example width for 1440px screen */
    height: 700px; /* Adjust height as needed */
  }
}

@media (min-width: 1441px) and (max-width: 2560px) {
  /* Adjust the iframe width and height for extra-large screens (2560px) */
  iframe {
    width: 2560px; /* Example width for 2560px screen */
    height: 800px; /* Adjust height as needed */
  }
}
